{:paths ["src" "test" "resources"]
 :aliases
 {:test {:main-opts ["-m" "advent-of-code.core"]}
  :repl {:main-opts  ["-m" "nrepl.cmdline"]
         :extra-deps {nrepl {:mvn/version "0.5.1"}
                      cljfmt {:mvn/version "0.6.2"}}}}}
